@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto';
    background-color: #333;
    margin: 0;
    a {
        text-decoration: none;
        color:white;
        transition: 0.2s ease;
        &:hover {
            color:gray
        }
    }
  }

/* Nav */
@navBar-height: 45px;
.navBar {
    padding: 0 7%;
    background-color: #414141;
    width: 100%;
    box-sizing: border-box;
    height: @navBar-height;
    line-height: @navBar-height;
    a {
        float: left;
        color: white;
        text-align: center;
        padding: 0 16px;
        text-decoration: none;
        font-size: 17px;
        transition: 0.2s ease;
        &:hover:not(.logo) {
            background-color: white;
            color:black;
        }
        img {
            vertical-align: middle;
        }
    }
}
/* Page Content */
.card {
    margin: 10px auto;
    max-width: 65%;
    padding: 16px 14px;
    background-color:#414141;
    color:white;
    border-radius: 3px;
}

#content {
    min-height: calc(~"100vh - 100px");
}

#screenshot {
    transition: 0.2s ease;
    &:active {
        transform: scale(2);
    }
}

.footer {
    padding: 3px 0;
    bottom: 0;
    background-color:#414141;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12px;
}
