@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    .footer {
        text-align: center;
        position: absolute;
        right:0;
        bottom:0;
        left:0;
        background-color: #9C27B0;
        h5 {
            color:white;
            margin:15px;
        }
    }
}